<template>
  <q-table :title="$t('Job Suche')">
    <template #top-right>
      <q-input
        v-model="filter"
        class="q-mr-sm"
        outlined
        dense
        clearable
        debounce="300"
        :placeholder="$t('label.searching')"
      >
        <template #append>
          <q-icon name="search" />
        </template>
      </q-input> </template
  ></q-table>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { api } from 'boot/axios';

const rows = ref([]);
const token = ref('');
const jobs = ref([]);
const filter = ref('');
const loading = ref(false);
const pagination = ref({
  sortBy: 'updatedAt',
  descending: true,
  page: 1,
  rowsPerPage: 5,
  rowsNumber: 5,
});

function onRequest(props) {
  const { page, rowsPerPage, sortBy, descending } = props.pagination;
  const _filter = props.filter;
  const params = {
    'pagination[page]': page,
    'pagination[pageSize]': rowsPerPage,
    populate: 'visit',
    sort: sortBy + ':' + (descending ? 'desc' : 'asc'),
  };

  var i = 0,
    length = jobs.value.length;
  while (i < length) {
    params['filters[job][$in][' + i + ']'] = jobs.value[i];
    i++;
  }

  if (_filter) {
    params['_q'] = _filter;
  }

  loading.value = true;
  api
    .get('api/pageviews', {
      params: params,
      headers: {
        accept: 'application/json',
        Authorization: 'Bearer ' + token.value,
      },
    })
    .then((response) => {
      const total = response.data.meta.pagination.total;
      const dataReturned = response.data.data;
      pagination.value.rowsPerPage = rowsPerPage;
      pagination.value.rowsNumber = total;
      pagination.value.page = page;
      pagination.value.sortBy = sortBy;
      pagination.value.descending = descending;
      rows.value.splice(0, rows.value.length, ...dataReturned);
      console.log(response);
    })
    .finally(() => {
      loading.value = false;
    });
}

function getToken() {
  const data = {
    client_id: 'c003a37f-024f-462a-b36d-b001be4cd24a',
    client_secret: '32a39620-32b3-4307-9aa1-511e3d7f48a8',
  };

  api
    .post('oauth/gettoken_cc', data)
    .then((response) => {
      console.log(response);
    })
    .finally(() => {
      loading.value = false;
    });
}

onMounted(() => {
  // get initial data from server (1st page)
  getToken();
});
</script>
